/* Файл variables.less */
/* Файл scaffolding.less */
@font-face {
  font-weight: normal;
  font-family: "KoHo";
  font-style: normal;
  src: url("../fonts/koho-regular-webfont.woff2") format("woff2"), url("../fonts/koho-bold-webfont.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "KoHo";
  font-style: normal;
  src: url("../fonts/koho-bold-webfont.woff2") format("woff2"), url("../fonts/koho-bold-webfont.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: "KoHo", "Arial", sans-serif;
  color: #2F2B2E;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a,
button,
input {
  outline-color: #FF7777;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* Файл blocks/advantages.less */
.advantages {
  padding: 0 15px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
.advantages__title {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
}
.advantages__list {
  margin-top: 50px;
  padding: 0;
  list-style: none;
}
.advantages__description {
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding: 0;
    margin: 0;
  }
  .advantages__list {
    display: flex;
    text-align: left;
    margin-bottom: 0;
  }
  .advantages__item {
    margin-left: 30px;
    width: 292px;
  }
  .advantages__description {
    margin: 0;
    margin-bottom: 0;
  }
}
/* Файл blocks/button.less */
.button {
  display: block;
  box-sizing: border-box;
  min-height: 40px;
  padding: 10px;
  background-color: #0182E8;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
.button:hover {
  background-color: #FF7777;
  transition: 0.3s;
}
.button:active {
  /* color: rgba(255, 255, 255, 0.3); */
  background-color: #FF9999;
}
/* Файл blocks/card.less */
.card__back {
  display: none;
}
.card__title {
  display: none;
}
.card__subtitle {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}
.card-desktop__downloads,
.card-laptop__downloads,
.card-mobile__downloads {
  display: none;
}
.card__list {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  text-align: center;
}
@media (min-width: 768px) {
  .card {
    position: relative;
  }
  .card__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    text-align: left;
    font-size: 24px;
    font-weight: normal;
    display: block;
  }
  .card__subtitle {
    text-align: left;
  }
  .card__list {
    text-align: left;
  }
  .card-desktop__downloads,
  .card-laptop__downloads,
  .card-mobile__downloads {
    display: block;
    text-align: left;
    color: #0182E8;
    cursor: pointer;
  }
  .card-desktop__front,
  .card-desktop__back,
  .card-laptop__front,
  .card-laptop__back,
  .card-mobile__front,
  .card-mobile__back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    transition: -webkit-transform 0.6s linear;
    transition: transform 0.6s linear;
    transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  }
  .card-desktop__front {
    box-sizing: border-box;
    padding: 25px;
    padding-top: 52px;
    padding-bottom: 30px;
  }
  .card-laptop__front {
    box-sizing: border-box;
    padding: 28px;
    padding-top: 63px;
    padding-bottom: 30px;
  }
  .card-mobile__front {
    box-sizing: border-box;
    padding: 28px;
    padding-top: 77px;
    padding-bottom: 30px;
  }
  .card-desktop__front,
  .card-laptop__front,
  .card-mobile__front {
    border: 1px solid #ECECEC;
    box-shadow: 15px 8px 40px rgba(0, 0, 0, 0);
    transition: 0.7s linear;
  }
  .card-desktop__front:hover,
  .card-laptop__front:hover,
  .card-mobile__front:hover {
    box-shadow: 15px 8px 40px rgba(0, 0, 0, 0.25);
  }
  .card-desktop__back,
  .card-laptop__back,
  .card-mobile__back {
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
    display: block;
    -webkit-transform: perspective(600px) rotateY(180deg);
            transform: perspective(600px) rotateY(180deg);
    border: 1px solid #ECECEC;
    box-shadow: 15px 8px 40px rgba(0, 0, 0, 0.25);
    transition: 0.7s linear;
  }
  .back-rotate {
    -webkit-transform: perspective(600px) rotateY(-180deg);
            transform: perspective(600px) rotateY(-180deg);
  }
  .front-rotate {
    -webkit-transform: perspective(600px) rotateY(0deg);
            transform: perspective(600px) rotateY(0deg);
  }
  .card-desktop__downloads:hover,
  .card-desktop__downloads:active {
    color: #FF7777;
  }
  .card-laptop__downloads:hover,
  .card-laptop__downloads:active {
    color: #FF7777;
  }
  .card-mobile__downloads:hover,
  .card-mobile__downloads:active {
    color: #FF7777;
  }
}
@media (min-width: 1200px) {
  .card-desktop__front {
    padding-top: 60px;
  }
  .card-laptop__front {
    padding-top: 72px;
  }
  .card-mobile__front {
    padding-top: 86px;
  }
  .card-desktop__back,
  .card-laptop__back,
  .card-mobile__back {
    padding: 24px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
/* Файл blocks/community-info.less */
.community-info {
  margin: 0;
  padding: 0 15px;
  padding-top: 60px;
}
.communiity-info__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
}
.community-info__description {
  margin: 20px 0;
  padding: 0;
}
.community-info__description span {
  text-decoration: underline;
}
.community-info__logo {
  display: none;
}
.community-info__button {
  margin: 0;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .community-info {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  .community-info__wrapper {
    width: 505px;
  }
  .communiity-info__title {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
  }
  .community-info__logo {
    display: block;
    margin-top: -9px;
    padding-right: 20px;
    width: 156px;
    height: 468px;
  }
  .community-info__button {
    width: 253px;
  }
}
@media (min-width: 1200px) {
  .community-info {
    padding-left: 30px;
  }
  .community-info__wrapper {
    width: 555px;
  }
  .community-info__logo {
    padding-right: 53px;
  }
}
/* Файл blocks/community.less */
.community {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  padding: 15px;
  text-align: center;
}
.community__description {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
@media (min-width: 768px) {
  .community {
    display: flex;
    padding: 0;
  }
  .community__description {
    width: 470px;
    text-align: left;
    margin: 0;
    padding-right: 15px;
  }
  .community__button {
    width: 253px;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .community {
    padding: 0;
    margin-left: 30px;
  }
  .community__description {
    width: 555px;
  }
  .community__button {
    width: 292px;
  }
}
/* Файл blocks/contacts.less */
.contacts__title {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts__list a {
  color: #ffffff;
  text-decoration: none;
}
.contacts__list a:hover,
.contacts__list a:active {
  color: #FF7777;
}
.contacts__item {
  font-size: 20px;
  line-height: 27px;
  margin: 20px;
}
@media (min-width: 768px) {
  .contacts {
    width: 600px;
  }
  .contacts__item {
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
  }
}
/* Файл blocks/docs.less */
.docs__page-main {
  display: flex;
  flex-direction: column-reverse;
}
.docs-info {
  margin: 0;
  padding: 0 15px;
  padding-top: 60px;
}
.docs__logo {
  height: 80px;
}
.docs-info__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
}
.docs-info__description {
  margin: 20px 0;
  padding: 0;
}
.docs-info__description span {
  text-decoration: underline;
}
.docs-info__logo {
  display: none;
}
.docs-info__button {
  margin: 0;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .docs-info {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  .docs__page-main {
    display: flex;
    flex-direction: row-reverse;
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .docs-info__wrapper {
    width: 505px;
  }
  .docs__wrapper-left {
    padding: 0;
    width: 260px;
    border-right: 12px solid #0182e8;
  }
  .docs__wrapper-right {
    padding-bottom: 100px;
  }
  .docs-info__title {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
  }
  .docs-info__logo {
    display: block;
    margin-top: -9px;
    padding-right: 20px;
    width: 156px;
    height: 468px;
  }
  .docs-info__button {
    width: 253px;
  }
}
@media (min-width: 1200px) {
  .docs-info {
    padding-left: 30px;
  }
  .docs__page-main {
    padding: 0;
    width: 100%;
  }
  .docs-info__wrapper {
    width: 555px;
  }
  .docs__wrapper-left {
    padding-left: 15px;
  }
  .docs-info__logo {
    padding-right: 53px;
  }
  .docs__logo img {
    width: 54px;
    height: 54px;
  }
}
/* Файл blocks/download.less */
.download {
  padding-top: 60px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
.download__title {
  margin: 0;
  padding: 0;
  font-size: 37px;
  line-height: 31px;
  font-weight: normal;
}
.download__description {
  margin-top: 30px;
  padding: 0;
}
.download__list {
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
}
.download__icon-tablet {
  width: 39.72px;
  height: 57.53px;
}
.download__icon-desktop {
  width: 103px;
  height: 69px;
}
.download__icon-phone {
  width: 30.13px;
  height: 43.83px;
}
@media (min-width: 768px) {
  .download {
    padding: 0;
    margin: 0;
    margin-top: 65px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .download__title {
    margin: 0;
    padding: 0;
    width: 448px;
    text-align: left;
    font-size: 40px;
    line-height: 40px;
  }
  .download__description {
    width: 485px;
    margin: 0;
    margin-top: 28px;
    padding: 0;
    padding-right: 25px;
    box-sizing: border-box;
    text-align: left;
  }
  .download__list {
    width: 253px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }
  .download__button {
    justify-content: center;
    width: 253px;
  }
}
@media (min-width: 1200px) {
  .download {
    padding-left: 30px;
  }
  .download__description {
    width: 555px;
  }
  .download__list {
    width: 292px;
  }
  .download__button {
    width: 292px;
  }
}
/* Файл blocks/downloads-alternative.less */
.downloads-alternative {
  margin: 0;
  padding: 0 15px;
  text-align: center;
}
.downloads-alternative__title {
  margin-top: 40px;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
}
.downloads-alternative__description {
  margin: 0;
  padding: 0;
}
.downloads-alternative p:nth-child(2) {
  margin-bottom: 15px;
}
.downloads-alternative__icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}
.downloads-alternative__link {
  margin: 0;
  margin-top: 72px;
  padding: 0;
  padding-left: 30px;
  width: 220px;
  list-style: none;
}
.downloads-alternative__link a {
  margin: 20px 0;
  display: block;
  color: #0182E8;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}
.downloads-alternative__link a:hover,
.downloads-alternative__link a:active {
  color: #FF7777;
}
@media (min-width: 768px) {
  .downloads-alternative {
    padding: 0;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  .downloads-alternative__icon {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: 76px;
    margin-top: 76px;
  }
  .downloads-alternative__description {
    width: 480px;
  }
}
@media (min-width: 1200px) {
  .downloads-alternative {
    padding-left: 30px;
  }
  .downloads-alternative__icon {
    margin-left: 100px;
  }
  .downloads-alternative__description {
    width: 555px;
  }
  .downloads__item {
    width: 262px;
  }
}
/* Файл blocks/downloads.less */
.downloads-list {
  margin: 0;
  padding: 0;
}
.downloads__item {
  margin: 15px;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  list-style: none;
}
.downloads__description {
  margin: 30px 0;
}
.downloads__button {
  width: 148px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.downloads-desktop__requirements,
.downloads-laptop__requirements,
.downloads-mobile__requirements {
  display: none;
}
@media (min-width: 768px) {
  .downloads {
    min-height: 380px;
  }
  .downloads-list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  .downloads__item {
    width: 233px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    transition: 0.7s 0s;
  }
  .downloads__item:hover {
    transition: 0.7s 0s;
    margin-top: -10px;
  }
  .downloads-desktop__requirements,
  .downloads-laptop__requirements,
  .downloads-mobile__requirements {
    display: inline;
    color: #0182E8;
    cursor: pointer;
  }
  .downloads-desktop__requirements:hover,
  .downloads-laptop__requirements:hover,
  .downloads-mobile__requirements:hover {
    color: #FF7777;
  }
}
@media (min-width: 1200px) {
  .downloads-list {
    margin-left: 28px;
  }
  .downloads__item {
    width: 262px;
  }
}
/* Файл blocks/footer-nav.less */
.footer-nav__list {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.footer-nav__list a {
  color: #ffffff;
  text-decoration: none;
}
.footer-nav__list a:hover {
  color: #FF7777;
}
.footer-nav__item {
  padding-left: 26px;
}
.footer-nav__item:not(:first-child) a:before {
  content: "|";
  color: #ffffff;
  padding-right: 20px;
}
/* Файл blocks/main-nav.less */
.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}
.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 40px;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__toggle {
  display: block;
  height: 40px;
  background-color: #2F2B2E;
  cursor: pointer;
  border: none;
  border: 2px solid #282427;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 150px;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 5px 0 0 #ffffff, 0 10px 0 0 #ffffff;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 150px;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    display: block;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
  .main-nav--nojs .user-list__item {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    flex-direction: row;
    width: 643px;
  }
  .main-nav {
    width: auto;
    margin: 0;
    flex-direction: row;
    min-height: 80px;
    margin-left: 15px;
  }
  .main-nav__toggle {
    /* order: 2; */
    display: none;
  }
  .main-nav__list {
    width: 588px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    margin-left: 263px;
  }
  .main-nav__wrapper {
    width: 877px;
  }
  .main-nav__toggle {
    /* order: 2; */
    display: none;
  }
  .main-nav__list {
    width: 777px;
    padding-left: 30px;
  }
}
/* Файл blocks/modal.less */
.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: none;
}
.modal h2 {
  font-size: 25px;
  line-height: 40px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.modal__description {
  text-align: center;
}
.modal-login {
  top: 80px;
  left: 53%;
  width: 319px;
  margin-left: -170px;
  box-sizing: border-box;
  padding: 60px 15px;
}
.modal__login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.modal__login-checkbox:hover,
.modal__login-checknox:focus {
  color: #FF7777;
}
.modal__login-checkbox input[type="checkbox"] + .modal__checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #0182E8;
}
.modal__login-checkbox input[type="checkbox"]:checked + .modal__checkbox-indicator::before,
.modal__login-checkbox input[type="checkbox"]:checked + .modal__checkbox-indicator::after {
  content: "";
  position: absolute;
  background-color: #FF7777;
}
.modal__login-checkbox input[type="checkbox"]:checked + .modal__checkbox-indicator::before {
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  top: 10px;
  left: 0px;
  width: 8px;
  height: 2px;
}
.modal__login-checkbox input[type="checkbox"]:checked + .modal__checkbox-indicator::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
  left: 3px;
  width: 14px;
  height: 2px;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #0182E8;
}
.modal__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal__close:hover:after,
.modal__close:hover:before {
  background-color: #FF7777;
}
.modal__restore {
  color: #0182E8;
  text-decoration: underline;
  text-align: right;
}
.modal__restore:hover,
.modal__restore:focus {
  text-decoration: none;
  color: #FF7777;
}
.modal__login-form .modal__login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal__login-form input[type="text"],
.modal__login-form input[type="password"] {
  box-sizing: border-box;
  width: 285px;
  padding: 10px 15px;
  padding-top: 12px;
  padding-right: 40px;
  color: #000000;
  font-size: 20px;
  border: 2px solid #0182E8;
}
.modal__login-form .button {
  width: 100%;
  border: none;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}
.modal__show-overlay {
  display: block;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6;
          animation-duration: 0.6;
}
@media (min-width: 768px) {
  .modal-login {
    top: 120px;
    left: 50%;
    width: 400px;
    margin-left: -170px;
    box-sizing: border-box;
    padding: 60px 50px;
  }
  .modal__description {
    text-align: left;
  }
  .modal__login-form input[type="text"],
  .modal__login-form input[type="password"] {
    width: 300px;
  }
  .modal__close {
    top: 0;
    right: -34px;
  }
  .modal__close::before,
  .modal__close::after {
    background-color: #ffffff;
  }
}
/* Файл blocks/nav-docs.less */
.nav-docs__list {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-top: 50px;
  color: #ffffff;
  list-style: none;
}
.nav-docs__item {
  margin: 10px 0;
}
.nav-docs__item a {
  font-size: 20px;
  text-decoration: none;
  color: #0182E8;
}
.nav-docs__item a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .nav-docs {
    margin-top: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .nav-docs__list {
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
    list-style: none;
  }
  .nav-docs__item a {
    font-size: 18px;
    margin: 10px 0;
    color: #2f2b2e;
  }
}
@media (min-width: 1200px) {
  .nav-docs {
    margin-top: 140px;
  }
  .nav-docs__list {
    padding: 15px 0;
    padding-left: 25px;
  }
}
/* Файл blocks/page-footer.less */
.page-footer {
  padding: 15px;
  background-color: #2F2B2E;
  text-align: center;
  color: #ffffff;
}
.page-footer__wrapper {
  /* width: 320px; */
  padding: 0;
  margin: 0 auto;
}
.page-footer__logo-image {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 72px;
  height: 72px;
}
.page-footer__nav {
  display: none;
}
.page-footer__copyright {
  width: 233px;
  margin: 0 auto;
}
.page-footer__copyright b {
  display: block;
  font-style: normal;
  font-weight: normal;
  margin-top: 80px;
}
@media (min-width: 768px) {
  .page-footer__wrapper-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .page-footer__logo-image {
    display: none;
  }
  .page-footer__wrapper {
    width: 738px;
    box-sizing: border-box;
    display: flex;
  }
  .page-footer__contacts {
    text-align: left;
  }
  .page-footer__nav {
    display: block;
  }
  .page-footer__copyright {
    text-align: right;
    margin: 0;
  }
  .page-footer__copyright b {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 1140px;
    display: flex;
    padding-right: 0;
    padding: 0 15px;
  }
  .page-footer__logo-image {
    display: block;
    margin-left: 100px;
    margin-top: 47px;
  }
  .page-footer__contacts {
    margin-left: 115px;
  }
  .page-footer__copyright {
    /* margin-left: 285px; -------------------------------*/
  }
}
/* Файл blocks/page-header.less */
.page-header {
  display: flex;
  flex-direction: column;
  background-color: #2F2B2E;
}
.page-header__wrapper {
  display: flex;
  flex-direction: column;
}
.page-header__logo {
  width: 320px;
  height: 80px;
  padding-top: 26px;
  background-color: #0182E8;
  text-decoration: none;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
.page-header__logo img {
  display: none;
}
.page-header__logo span {
  font-weight: bold;
  font-size: 36px;
  line-height: 35px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
  }
  .page-header__wrapper {
    width: 768px;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
  }
  .page-header__logo {
    width: 80px;
    height: 80px;
    padding-top: 13px;
    margin: 0;
  }
  .page-header__logo img {
    display: block;
  }
  .page-header__logo-image {
    width: 54px;
    height: 53px;
    margin: 0 auto;
  }
  .page-header__logo span {
    display: none;
  }
}
@media (min-width: 1200px) {
  .page-header {
    flex-direction: row;
  }
  .page-header__wrapper {
    width: 1140px;
    padding: 0;
  }
  .page-header__logo {
    width: 263px;
    height: 352px;
    position: absolute;
    padding-top: 26px;
    box-sizing: border-box;
    background-color: transparent;
  }
  .page-header__logo-image {
    margin-top: 80px;
    width: 151px;
    height: 151px;
  }
  .page-header__logo span {
    display: block;
  }
  .logo-docs {
    height: 80px;
  }
}
/* Файл blocks/page-main.less */
.page-main {
  flex: 1 0 auto;
  padding-bottom: 35px;
}
.page-main__wrapper-right,
.page-main__wrapper-left {
  width: 320px;
  margin: 0 auto;
}
.page-main__wrapper-left {
  width: 320px;
  padding: 0 15px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .page-main {
    padding: 0px;
  }
  .page-main__wrapper-left {
    width: 768px;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .page-main__wrapper-right {
    width: 768px;
    padding: 0 15px;
    padding-bottom: 100px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .page-main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .page-main__wrapper-right {
    width: 877px;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
  }
  .page-main__wrapper-left {
    width: 260px;
    margin: 0;
    padding: 0;
  }
}
/* Файл blocks/site-list.less */
.site-list a {
  display: block;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid #282427;
  border-left: 2px solid #282427;
  border-right: 2px solid #282427;
}
.site-list a:hover {
  /*  .site-list a[href]:hover http://htmlbook.ru/css/selector/attr4 */
  background-color: #FF7777;
  /* border-top-color: #FF7777; */
  transition: 0.3s;
}
.site-list a:active {
  /* color: rgba(255, 255, 255, 0.3); */
  background-color: #FF9999;
  /* border-top-color: #FF9999; */
}
.site-list__item--active a {
  background-color: #282427;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }
  .site-list a {
    padding: 30px 15px;
    border: none;
    margin-right: 15px;
  }
  .site-list__item--active a {
    position: relative;
    background-color: transparent;
    color: #ffffff;
  }
  .site-list__item--active a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 6px;
    background-color: #FF7777;
  }
}
/* Файл blocks/slider.less */
.slider {
  width: 320px;
  min-height: 276px;
  margin-top: 40px;
  padding: 0 15px;
  padding-top: 60px;
  background-color: #0182E8;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  box-sizing: border-box;
}
.slider__image {
  display: none;
  width: 738px;
  height: 276px;
}
.slider__description--left {
  display: none;
}
.slider__description--right {
  margin: 0;
  padding: 0;
}
.slider__description--right span {
  font-size: 24px;
}
@media (min-width: 768px) {
  .slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 738px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-size: 16px;
  }
  .slider__image {
    display: block;
  }
  .slider__description--left {
    margin: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    padding: 27px 30px;
    box-sizing: border-box;
    text-align: left;
    font-size: 30px;
    line-height: 37px;
    font-weight: normal;
    text-transform: uppercase;
    background: linear-gradient(#ffffff, #005fff);
    -webkit-background-clip: text;
    color: transparent;
  }
  .slider__description--right {
    position: absolute;
    top: 0;
    right: 0;
    width: 253px;
    padding: 59px;
    padding-right: 15px;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .slider,
  .slider__image {
    width: 877px;
    min-height: 326px;
  }
  .slider {
    font-size: 20px;
  }
  .slider__description--left {
    padding: 55px 30px;
  }
  .slider__description--right {
    width: 292px;
    padding: 73px 30px;
  }
}
/* Файл blocks/sponsor-info.less */
.sponsor-info {
  padding: 15px;
  padding-top: 60px;
}
.sponsor-info__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
}
.sponsor-info-description {
  margin: 20px 0;
  padding: 0;
}
.sponsor-info__button {
  margin: 0;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .sponsor-info {
    width: 505px;
    padding: 0;
    padding-top: 80px;
  }
  .sponsor-info__button {
    width: 253px;
  }
  .sponsor-info__title {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
  }
}
@media (min-width: 1200px) {
  .sponsor-info {
    padding-left: 30px;
    width: 555px;
  }
}
/* Файл blocks/sponsor.less */
.sponsor {
  margin: 0;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
}
.sponsor__description {
  margin: 0;
  padding: 0;
}
.sponsor__description a {
  color: #0182E8;
}
.sponsor__description a:hover {
  color: #FF7777;
}
@media (min-width: 768px) {
  .sponsor {
    padding: 0;
    margin-bottom: 60px;
  }
  .sponsor__description {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .sponsor {
    margin-top: 273px;
    padding: 0;
  }
  .sponsor__description {
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 65px;
    text-align: right;
  }
}
/* Файл blocks/user-list.less */
.user-list a {
  display: block;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid #282427;
  border-left: 2px solid #282427;
  border-right: 2px solid #282427;
}
.user-list a:hover {
  /*  .site-list a[href]:hover http://htmlbook.ru/css/selector/attr4 */
  background-color: #FF7777;
  border-top-color: #FF7777;
  transition: 0.3s;
}
.user-list a:active {
  /* color: rgba(255, 255, 255, 0.3); */
  background-color: #FF9999;
  border-top-color: #FF9999;
}
@media (min-width: 768px) {
  .user-list {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .user-list a {
    padding: 30px 15px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: 100px;
  }
}
